@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Autor: @ViewData["Author"]</p>
<address>
    <strong>Mais informações: </strong><a href="mailto:@ViewData["Email"]">@ViewData["Email"]</a>
</address>
